.container {
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid;
  border-radius: 10px;
  background-color: #999;
}
body {
  width: 100%;
  height: 100%;
  background: rgb(249, 222, 171);
  font-family: Fredoka;
  margin-top: 10%;
}
button {
  background: rgba(170, 142, 142, 0.667);
  color: #080808;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid;
  cursor: pointer;
  font-family: Fredoka;
  font-size: 15pt;
}
.dn{
  text-align: center;
}
h1{
  text-align: center;
}